
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    margin: 20px;
    text-align: center; 
    background-image: url('bgAmigo.png'); 
    background-size: cover; 
    background-attachment: fixed;
}

header {
    background-color: #585656; 
    color: white;
    padding: 40px 20px;
}


h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    color: #090c0f; 
    margin-top: 40px;
    margin-bottom: 15px;
    
    
    
}


img {
    width: 400px;
    border: 2px solid #130f0f;
    margin-top: 10px;
}


.button {
    background-color: #3b333d;
    color: white;
    padding: 10px 20px;
    text-decoration: none; 
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
    border-color: #090c0f;
}


ul {
    color:ghostwhite;
    font-size: 18px;
    padding:0%;
    list-style-type: disc; 
    padding-left: 20px; 
    display: inline-block; 
    text-align: left; 
}



li {
    color:rgb(162, 168, 173);
    font-size: 20px;
    margin: 10px 0;
}


footer {
    background-color: #767373; 
    padding: 30px;
    margin-top: 40px;
}
p{
    color: #ffffff82;
}
h3{
    color:rgb(164, 177, 182);
}



.project-container {
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin-top: 30px;
    flex-wrap: wrap;
}


.project-box {
    max-width: 400px; 
}

.project-box img {
    width: 100%;
    margin-top: 10px;
}